.content-section {
    .content-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));



        .content-section__grid__card {
            display: grid;
            grid-template-areas: "image" "head";
            align-items: flex-start;

            header {
                display: grid;
                grid-row: head;

                /* grid-row: head; */


            }

            /* figure {
                    
                } */
            .content-section__grid__card__img {
                grid-row: image;
                position: relative;
                width: 100%;

                img {
                    aspect-ratio: 1;
                    width: max(70vh, 10rem);
                }


                /* Displays the watermark on top of the card images. Top, left and translate is to position the svg to the center of the image. */
                .watermark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

    }
}