.content-section {
    .content-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));



        .content-section__grid__card {
            display: grid;
            grid-template-areas: "image" "head";

            header {
                display: grid;
                grid-row: head;

                /* grid-row: head; */

                /* figure {
                    
                } */
            }

            .content-section__grid__card__img {
                grid-row: image;
                position: relative;

                /* Displays the watermark on top of the card images. Top, left and translate is to position the svg to the center of the image. */
                .watermark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

    }
}