.content-section {
    .content-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));


        .content-section__grid__card {
            header {
                border: 1px solid orange;
                display: grid;
                grid-template-areas: "image" "head";

                /* grid-row: head; */

                figure {
                    border: 1px solid red;
                    grid-row: image;
                }
            }

        }

    }
}