.content-section {
    .content-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));



        .content-section__grid__card {
            display: grid;
            grid-template-areas: "image" "head";

            header {
                display: grid;
                grid-row: head;

                /* grid-row: head; */

                /* figure {
                    
                } */
            }

            .content-section__grid__card__img {
                grid-row: image;
            }

        }

    }
}