main>div:nth-child(2) {
    padding: var(--flow-space-lg) 0;

    @media (max-width: 1050px) {
        padding: var(--flow-space) 0;
    }
}

.content-section {
    .content-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
        gap: 1vw;
        margin: 0;

        @media (min-width:1300px) {
            grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
        }

        @media (max-width:1050px) {
            grid-template-columns: repeat(auto-fit, minmax(28ch, 1fr));
        }


        @media (max-width:500px) {
            grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
        }



        .content-section__grid__card {
            display: grid;
            grid-template-areas: "image" "head";
            grid-template-rows: auto auto 1fr auto;
            align-items: start;
            background-color: white;
            box-shadow: var(--border-shadow);


            header {
                display: grid;
                grid-row: head;

                div {
                    display: flex;
                    gap: 0.2em;
                    flex-wrap: wrap;
                }

            }

            .content-section__grid__card__img {
                grid-row: image;
                position: relative;
                width: 100%;

                img {
                    aspect-ratio: 1;
                    width: max(90vw, 10rem);
                    height: auto;
                }

                /* Displays the watermark on top of the card images. Top, left and translate is to position the svg to the center of the image. */
                .watermark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            footer {
                display: flex;
                gap: 0.4em;
                padding: 0.4em;
                align-items: center;

                span {
                    font-size: var(--fs-200);
                }
            }
        }
    }
}