.category {
    border-radius: 3vw;
    padding: 0.2rem 0.4rem;
    max-width: fit-content;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fs-200);

}

.flower {
    background-color: lightsteelblue;
}

.eatable {
    background-color: lightpink;
}

.greenery {
    background-color: lightgreen;
}

.sun {
    background-color: lightgoldenrodyellow;
}

.easy {
    background-color: lightsalmon;
}

.decorative {
    background-color: lightcyan;
}

.colorful {
    background-color: lightcoral;
}

.enduring {
    background-color: lightskyblue;
}

.fast {
    background-color: lightgrey;
}

.humid {
    background-color: lightslategray;
}

.avatar {
    border-radius: 100%;
    width: min(5rem, 6rem);
}

.author {
    color: var(--clr-green-400);
    font-weight: 650;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: min(10rem, 26vw);
}

.bg {
    background-color: var(--clr-green-400);
    position: relative;
    border-radius: 100%;
    aspect-ratio: 1;
    width: min(18rem, 50vw);
}