.category {
    border-radius: 3vw;
    padding: 0.2rem 0.4rem;
    max-width: fit-content;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6rem;

}

.flower {
    background-color: lightsteelblue;
}

.eatable {
    background-color: lightpink;
}

.greenery {
    background-color: lightgreen;
}

.sun {
    background-color: lightgoldenrodyellow;
}

.easy {
    background-color: lightsalmon;
}

.decorative {
    background-color: lightcyan;
}

.colorful {
    background-color: lightcoral;
}

.enduring {
    background-color: lightskyblue;
}

.fast {
    background-color: lightgrey;
}

.humid {
    background-color: lightslategray;
}

.avatar {
    border-radius: 100%;
    width: min(5rem, 6rem);
}

.author {
    color: green;
    font-weight: 650;
}