/* Css elements for category links */
.category {
    border-radius: 3vw;
    padding: 0.2rem 0.4rem;
    max-width: fit-content;
    text-transform: uppercase;
    color: var(--clr-primary-light-1);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fs-200);

}

.flower {
    background-color: var(--clr-flower);
}

.eatable {
    background-color: var(--clr-edible);
}

.greenery {
    background-color: var(--clr-green);
}

.sun {
    background-color: var(--clr-sunloving);
}

.easy {
    background-color: var(--clr-easy);
}

.decorative {
    background-color: var(--clr-decorative);
}

.colorful {
    background-color: var(--clr-colorful);
}

.enduring {
    background-color: var(--clr-robust);
}

.fast {
    background-color: var(--clr-fast);
}

.humid {
    background-color: var(--clr-air);
}

.avatar {
    border-radius: 100%;
    width: min(5rem, 6rem);
}

.author {
    color: var(--clr-green-400);
    font-weight: 650;
}


.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: min(6rem, 16vw);
}

/* Parent element to .icon */
.bg {
    background-color: var(--clr-green-400);
    position: relative;
    border-radius: 100%;
    aspect-ratio: 1;
    width: min(14rem, 40vw);
}