body>footer {
    background-color: var(--clr-green-400);
    color: var(--clr-primary-light-1);
    padding: var(--flow-space-lg) 0;

    .footer-wrapper {
        display: grid;
        grid-template-columns: 80% 1fr;
        grid-template-rows: auto;


        div {
            grid-column: 1/2;
            grid-row: span 2;

            article {
                padding-bottom: 1.2rem;

                h3 {
                    padding-bottom: 1.2rem;
                }
            }

            article>div {
                display: flex;
                gap: 2%;
            }
        }


        a {
            color: var(--clr-primary-light-1);
        }

        ul {
            grid-column: 2;
            grid-row: span 2;
            justify-self: end;

            @media (max-width: 550px) {
                display: none;
            }

            a {
                li {
                    margin: 1.4rem 0;
                }
            }
        }
    }
}