body>footer {
    background-color: var(--clr-green-400);
    color: white;
    padding: var(--flow-space-lg) 0;

    .footer-wrapper {

        display: grid;
        grid-template-columns: 80% 1fr;
        grid-template-rows: auto;

        div {
            grid-column: 1/2;
            grid-row: span 2;

            article>div {
                display: flex;
                gap: 2%;
            }
        }


        a {
            color: white;

        }

        ul {
            grid-column: 2;
            grid-row: span 2;
            justify-self: end;

            @media (max-width: 550px) {
                display: none;
            }

            a {
                li {
                    padding: 0.6rem;
                }
            }
        }
    }
}