/* This file is for the static sections on the page, which includes a register for newsletter emails and
a link to previous content. */

.form-section__bg {
    background-color: var(--clr-primary-light-1);
    padding: var(--flow-space-lg) 0;

    @media (max-width: 1050px) {
        padding: var(--flow-space) 0;
    }
}

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 3rem;
    gap: 1rem;

    form {
        grid-column: 1;
        justify-self: center;
        padding: 0 1rem;
        position: relative;
    }

    .form-section__icon__bg {
        grid-column: 2;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 0;


        form {
            grid-column: 1;
            grid-row: 2;
            justify-self: center;

            input {
                justify-self: center;
            }
        }

        .form-section__icon__bg {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .form-section__input-style {
        border: 1px solid var(--clr-accent);
        border-style: inset;
        border-radius: 2vw;
        width: fit-content;
        padding: 0.2em;
        display: flex;
        margin-top: 1rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        @media (max-width: 550px) {
            border-radius: 10vw;

        }

        input {
            border: none;
            margin-left: 0.5vw;

        }

        button {
            border-radius: 2rem;
            padding: 0.4em 0.8em;
            width: fit-content;
            border: none;
            background-color: var(--clr-accent);
            color: var(--clr-primary-light-1);

            &:hover {
                background-color: var(--clr-primary-light-1);
                color: var(--clr-accent);
                border: 1px solid var(--clr-accent);


                padding-top: calc(0.4em - 1px);
                padding-bottom: calc(0.4em - 1px);
                padding-right: calc(0.8em - 1px);
                padding-left: calc(0.8em - 1px);
            }
        }
    }
}

.static-section__bg {
    background-color: var(--clr-primary-light-1);
    padding: var(--flow-space-lg) 0;

    @media (max-width: 1050px) {
        padding: var(--flow-space) 0;
    }
}

.static-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 3rem;
    gap: 2rem;

    .static-section__content {
        grid-column: 2;
        grid-row: 1;
        display: grid;

        h3 {
            margin-bottom: 1rem;
        }

        .static-section__content__link {

            justify-self: end;

            @media (max-width:550px) {
                justify-self: center;
            }

            p {
                background: var(--clr-accent);
                color: var(--clr-primary-light-1);
                padding: 0.4em 0.8em;
                border-radius: 2rem;
                margin-top: 1rem;
                width: fit-content;


                &:hover {
                    background-color: var(--clr-primary-light-1);
                    color: var(--clr-accent);
                    border: 1px solid var(--clr-accent);
                    padding-top: calc(0.4em - 1px);
                    padding-bottom: calc(0.4em - 1px);
                    padding-right: calc(0.8em - 1px);
                    padding-left: calc(0.8em - 1px);
                }
            }

        }
    }

    .static-section__icon__bg {
        grid-column: 1;
        grid-row: 1;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        text-align: center;

        .static-section__content {
            grid-column: 1;
            grid-row: 2;
        }

        .static-section__icon__bg {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
        }
    }
}