.form-section__bg {
    background-color: white;
}

.form-section {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2;
    align-items: center;

    form {
        grid-column: 1;
    }

    .form-section__icon__bg {
        grid-column: 2;
    }

    .form-section__input-style {
        border: 1px solid green;
        border-radius: 2vw;
        width: 50%;
        padding: 0.2em;

        input {
            border: none;
        }

        button {
            border-radius: 2vw;
            padding: 0.4em;
            border: none;
            background-color: green;
            color: white;

            &:hover {
                background-color: white;
                color: green;
                border: 1px solid green;
                padding: calc(0.4em - 1px);
            }
        }
    }
}

.static-section {
    
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    .static-section__content {
        grid-column: 2;
        grid-row: 1;
    }

    .static-section__icon__bg {
        grid-column: 1;
        grid-row: 1;

    }
}