.form-section__bg {
    background-color: white;
    padding: var(--flow-space-lg) 0;

    @media (max-width: 1050px) {
        padding: var(--flow-space) 0;
    }
}

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    form {
        grid-column: 1;
        justify-self: center;
    }

    .form-section__icon__bg {
        grid-column: 2;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;


        form {
            grid-column: 1;
            grid-row: 2;
            justify-self: center;
        }

        .form-section__icon__bg {
            grid-column: 1;
            grid-row: 1;
            /* justify-self: center; */
        }
    }

    .form-section__input-style {
        border: 1px solid green;
        border-radius: 2vw;
        width: 50%;
        padding: 0.2em;

        input {
            border: none;
        }

        button {
            border-radius: 2vw;
            padding: 0.4em;
            border: none;
            background-color: green;
            color: white;

            &:hover {
                background-color: white;
                color: green;
                border: 1px solid green;
                padding: calc(0.4em - 1px);
            }
        }
    }
}

.static-section__bg {
    background-color: white;
    padding: var(--flow-space-lg) 0;

    @media (max-width: 1050px) {
        padding: var(--flow-space) 0;
    }
}

.static-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;



    .static-section__content {
        grid-column: 2;
        grid-row: 1;
    }

    .static-section__icon__bg {
        grid-column: 1;
        grid-row: 1;

    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        text-align: center;


        .static-section__content {
            grid-column: 1;
            grid-row: 2;

        }

        .static-section__icon__bg {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
        }
    }
}