.hero-section {
    margin-bottom: 4rem;
    margin-top: var(--flow-space-lg);
    text-align: center;

    div {
        .hero-section__title {
            margin: var(--spacing-base);
            margin: 0 10vw;

            .hero-section__title__p {
                font-size: max(1rem, 0.8vw);
                font-weight: 200;
                margin: var(--spacing-base);
            }
        }
    }


    .hero-section__grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: 12rem 12rem;
        width: 100%;
        border: var(--fs-200) solid var(--clr-primary-light-1);
        box-shadow: var(--border-shadow);

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        img:first-child {
            grid-column: 1;
            grid-row: span 2;
        }

        img:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        img:nth-child(3) {
            grid-column: 3;
            grid-row: 1;
        }

        img:nth-child(4) {
            grid-column: 4;
            grid-row: 1;
        }

        img:nth-child(5) {
            grid-column: 2/4;
            grid-row: 2;
        }

        img:nth-child(6) {
            grid-column: 4;
            grid-row: 2;
        }

        @media (max-width: 1050px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            img {
                aspect-ratio: 1;
            }

            img:first-child {
                grid-column: 1/2;
                grid-row: 1;
            }

            img:nth-child(2) {
                grid-column: 2/3;
                grid-row: 1;
            }

            img:nth-child(3) {
                grid-column: 3/4;
                grid-row: 1;
            }

            img:nth-child(4) {
                grid-column: 1/2;
                grid-row: 2;
            }

            img:nth-child(5) {
                grid-column: 2/3;
                grid-row: 2;
            }

            img:nth-child(6) {
                grid-column: 3/4;
                grid-row: 2;
            }
        }

        @media (max-width: 550px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            img {
                aspect-ratio: 1;
            }

            img:first-child {
                grid-column: 1;
                grid-row: 1;
            }

            img:nth-child(2) {
                grid-column: 2;
                grid-row: 1;
            }

            img:nth-child(3) {
                grid-column: 1;
                grid-row: 2;
            }

            img:nth-child(4) {
                grid-column: 2;
                grid-row: 2;
            }

            img:nth-child(5) {
                grid-column: 1;
                grid-row: 3;
            }

            img:nth-child(6) {
                grid-column: 2;
                grid-row: 3;
            }
        }
    }
}
