nav {
    background-color: var(--clr-primary-light-1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        position: relative;
        height: 3rem;

        .nav-home {
            div {
                display: flex;
                justify-content: flex-start;
                width: 200px;
                align-items: center;
                color: var(--clr-green-400);
                gap: 1rem;

                .logo {
                    width: 20%;
                }

                p {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        ul {
            margin-left: auto;

            a {
                li {
                    display: inline;
                    padding: 0 1rem;
                }
            }

        }

        .ham-icon {
            display: none;
        }

        @media (width < 600px) {
            ul {
                overflow: hidden;
                background-color: var(--clr-accent);
                position: absolute;
                top: 3rem;
                width: 100%;
                display: none;
            }

            a {
                color: var(--clr-neutral-100);
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .ham-icon {
                color: var(--clr-accent);
                display: block;
                position: absolute;
                right: 0;
                top: 0;

                i {
                    background-color: var(--clr-neutral-100);
                }
            }
        }

    }
}

.skiplink {
    display: inline-block;
    color: var(--black);
    background: var(--clr-primary-light-1);
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;


    &:focus {
        left: 0;
    }
}