nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    height: 3rem;

    div {
        display: flex;
        justify-content: flex-start;
        width: 200px;
        align-items: center;
        color: var(--clr-green-400);
        gap: 1rem;

        .logo {
            width: 20%;
            /* color: var(--clr-green-400); */
        }

        p {
            font-weight: 600;
            text-transform: uppercase;
        }

    }

    ul {
        /* margin-right: 0; */
        margin-left: auto;

        a {
            li {
                display: inline;
                padding: 0 1rem;
            }
        }

    }
}