nav {
    background-color: var(--clr-primary-light-1);

    /* TODO: add a hamburger menu with javaScript (easy level) */

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        position: relative;
        height: 3rem;

        /* .ham-icon {
            display: none;
        } */

        ul {
            @media (max-width:600px) {
                overflow: hidden;
                background-color: blue;
                position: absolute;
                top: 0;
                right: 0;

                a {
                    color: white;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    display: block;
                }

                a.ham-icon {
                    background: black;

                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;

                    i {
                        background-color: white;
                    }

                }
            }
        }

        a {
            div {
                display: flex;
                justify-content: flex-start;
                width: 200px;
                align-items: center;
                color: var(--clr-green-400);
                gap: 1rem;



                .logo {
                    width: 20%;
                }

                p {
                    font-weight: 600;
                    text-transform: uppercase;

                }
            }
        }

        ul {
            /* margin-right: 0; */
            margin-left: auto;

            @media (max-width: 600px) {
                display: none;
            }

            a {
                li {
                    display: inline;
                    padding: 0 1rem;
                }
            }

        }
    }
}

.skiplink {
    display: inline-block;
    color: var(--black);
    background: var(--clr-primary-light-1);
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;


    &:focus {
        left: 0;
    }
}
